<div class="Navigation" id="side-bar">
    <ul>
        <li><a href="../home">Home Page</a></li>
        <li><a href="../booksList">Books</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="survey.html">Survey</a></li>
      </ul>
</div>