<html>
    <head>
        <title>Books</title>
        <style type="text/css">
            #side-bar {
                height: 100%; width: 300px; position: absolute; left: 0; right: 0; padding-top: 10px; background-color: rgb(174, 218, 174);
            }
            ul {
                list-style: none;margin: 0px;padding: 0px; width:25% ;
            }
            a {
                text-decoration: none; color: black; font-size: 16px;
            }
            .container  {
            margin-left: 300px; display: block;;
            }
        </style>
    </head>
    <body>
        <h1>Books</h1>
        <%- include('partials/navbar') %>
        <div class="container" id="content">
        <table>
<% books.forEach(s=> 
    { %> <tr>
        <td>
            <a href="books/<%= s.ID %>"><img src=<%= s.image %> width="250" height="350"></a></td>
        <td><h2><%= s.name %></h2></td>
        </tr>
    <% });  
%>
</table>
</div>

</body>
</html>